VITE_SUPABASE_URL=https://sperknmkbyrbmebipnfq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLIC_KEY=